.card {
    background-color: rgba(0,0,0,0.03);
    border-radius: 10px;
}

.card:hover {
    opacity: 1;
}

.card-header {
    font-size: 1.1rem;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.card {
    background: rgba(255,255,255, 0.9);
    transition: background 0.3s ease-in-out;
}

.card:hover {
    background: rgba(255,255,255, 1);
}