<section>
    <div>
        <input type="text">
    </div>
    <div>
        <select>
            <option selected value="Cracow">Cracow</option>
            <option value="Wroclaw">Wroclaw</option>
            <option value="Warsaw">Warsaw</option>
            <option value="Berlin">Berlin</option>
            <option value="Madrid">Madrid</option>
        </select>
    </div>
    <div>
        <input type="number">
    </div>
    <div>
        <input type="number">
    </div>
    <div>
        <input type="number">
    </div>
    <div class="form-check">
        <input class="form-check-input" id="status" type="checkbox">
        <label class="form-check-label" for="status">
            Status
        </label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" id="keywords"></textarea>
        <label for="keywords">Keywords:</label>
    </div>
    <div>
        <button>
            Edit
        </button>
        <!-- <button (click)="isFormActiveFalse.emit()">Back</button> -->
    </div>
</section>